<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <style>
        .video-container {
            position: relative;
        }

        .myVideoContainer {
            position: absolute;
            width: 12em;
            height: 8em;
            top: 1em;
            left: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.2em;
        }

        .relative {
            position: relative;
        }

        #myVideo {
            padding-left: 5%;
            padding-right: 5%;
            width: 92%;
            height: 90%;
        }

        #remoteVideo {
            height: 90vh;
            width: 100%;
        }

        video {
            background: url('imgs/doodles.jpg');
            background-size: 25%;
            border-radius: 1em;
        }

        button {
            border-radius: 0.5em;
            background-color: #5a4fa9;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button-container>* {
            margin-left: 10px;
            margin-right: 10px;
        }

        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        .flex {
            display: flex;
            flex: 1;
            background-color: blue;
        }

        .absolute {
            position: absolute;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .colorful {
            background: linear-gradient(45deg, #ff5733, yellow, #5733ff, orange, pink);
            background-size: 400% 400%;
            animation: changeColors 4s ease-in-out infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes changeColors {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }   
        }
    </style>
</head>

<body>
    <div class="video-container">
        <div class="myVideoContainer colorful">
            <video id="myVideo" style="margin: 10px;"></video>
        </div>
        <video id="remoteVideo"></video>


        <div class="button-container">
            <button>Skip</button>
            <button>Mute</button>
        </div>

        <div class="colorful" style="width: 100px; height: 100px;">

        </div>
    </div>
</body>

</html>